.input-password-reset {
  width: 34vw;
  display: block;
  height: 2.2em;
  margin: 2.2em 0;
}

.password-color-adapt {
  color: inherit;
}

#invalid-message {
  color: rgb(177, 68, 68);
}

.form-password-reset {
  padding-top: 3em;
}

.password-reset-container {
  min-height: 60vh;
}
